# Environments & Secrets
.env
.env.*
!.env.example

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs and databases
*.log
*.sqlite
*.sqlite3
*.db
